<main class="main">
    
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Order details</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->
  
    <div class="page-content">
      <div class="container">
        <table class="table table-Order details table-mobile">
          <thead>
            <tr>
                <th>Name</th>
                <th>Order-id</th>
                <th>Date of order</th>
                <th>Price</th>
                <th>Status</th>
              <th></th>
            </tr>
          </thead>
  
          <tbody>
              <%data.forEach((datas)=>{%>
            <tr>

              <td class="product-col">
                <div class="product">
                  <h3 class="product-title">
                    <%=datas.OrderAddress.fname%>
                </h3>
                <td class="Order-Id-title">
                  
                    <%=datas._id%>
                  
                  </td>
                  <td class="Date of order-title"><%=datas.OrderAddress.date%></td>
                  <!-- End .product-title -->
                
                <!-- End .product -->
              </td>
              <td class="price-col"> <%=datas.OrderAddress.total%></td>
              <td><span id="<%=datas._id%>"class="Status-col badge rounded-pill alert-warning"><%=datas.OrderAddress.status%></span></td>
              <%if(datas.OrderAddress.status==='Delivered'){%>
                <td class="remove-col">
                    <button onClick="returnProduct(this.innerText,'<%=datas._id%>')" class="btn">Return<i class="icon-refresh"></i></button>
                  </td>
                  <%}else{%>   
                    <%if(datas.OrderAddress.status!='Returned'){%>
                
                  <td class="remove-col">
                    <button onClick="cancelOrder('cancelled','<%=datas._id%>')" class="btn-remove"><i class="icon-close"></i></button>
                  </td><%}%>
             <%}%>
            </tr>
            <%})%>
           
          </tbody>
        </table>
        <!-- End .table table-Order details -->
        <div class="Order details-share">
          <div class="social-icons social-icons-sm mb-2">
            <label class="social-label">Share on:</label>
            <a href="#" class="social-icon" title="Facebook" target="_blank"
              ><i class="icon-facebook-f"></i
            ></a>
            <a href="#" class="social-icon" title="Twitter" target="_blank"
              ><i class="icon-twitter"></i
            ></a>
            <a href="#" class="social-icon" title="Instagram" target="_blank"
              ><i class="icon-instagram"></i
            ></a>
            <a href="#" class="social-icon" title="Youtube" target="_blank"
              ><i class="icon-youtube"></i
            ></a>
            <a href="#" class="social-icon" title="Pinterest" target="_blank"
              ><i class="icon-pinterest"></i
            ></a>
          </div>
          <!-- End .soial-icons -->
        </div>
        <!-- End .Order details-share -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->

  <script>
   function returnProduct(status,id){
    $.ajax({
        url:"/returnButton",
    
        data:{
            status:status,
            id:id,

        },
        method:'post',
        success:(response)=>{
         document.getElementById(id).innerHTML=response

        }
    })
   }
   function cancelOrder(status,OrderId){
    $.ajax({
      url:'/orderCancel',
      data:{
        status:status,
        OrderId:OrderId,
      },
      method:'post',
      success:(response)=>{
        document.getElementById(OrderId).innerHTML=response

      }

    })
 

   }
  </script>
  